$pc_min: 769px;
$sp: 768px;

$red: #FF1D25;
$blue: #005BAB;

@mixin transition($value) {
		-webkit-transition: $value;
		-moz-transition: $value;
		-o-transition: $value;
	transition: $value;
}

@mixin transform($value) {
		-webkit-transform: $value;
		-ms-transform: $value;
	transform: $value;
}