@import "_define.scss";

/*
	1)	初期設定
	2)	hover
	3)	modules
	4)	header
	5)	footer
	6)	contents
*/

/*============================================================================================================
	初期設定
============================================================================================================*/

body {
	color: #323232;
		-webkit-text-size-adjust: 100%;
	line-height: 1.4;
}

div,h1,h2,h3,h4,h5,p,ul,li,dl,dt,dd,th,td,article,header,footer,nav,span,a {
		-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
	line-height: 100%;
	vertical-align: bottom;
}

h1,h2,h3,h4,h5 {
	line-height: 1.4;
	margin: 0;
	word-wrap: break-word;
}

p,li,td,th,dt,dd {
	font-size: 26px;
	font-weight: bold;
	line-height: 1.4;
	margin: 0;
	word-wrap: break-word;
	@media screen and (max-width: $sp) {
		font-size: 15px;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	word-break: break-all;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}


@media screen and (min-width: $pc_min) {
	.sp {
		display: none !important;
	}
}

@media screen and (max-width: $sp) {
	.pc {
		display: none !important;
	}
}


/*------------------------------------------
	フォント
------------------------------------------*/

body {
	font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/*------------------------------------------
	枠
------------------------------------------*/
body {
	@media screen and (min-width: $pc_min) {
		min-width: 1200px;
	}
}


/*============================================================================================================
	hover
============================================================================================================*/
@media screen and (min-width: $pc_min) {
	a {
		@include transition(all 0.3s ease-in-out);
		&:hover {
			filter: alpha(opacity=60);
			 -moz-opacity: 0.6;
			opacity: 0.6;
		}
	}	
}


/*============================================================================================================
	module css
============================================================================================================*/
/*------------------------------------------
	inner
------------------------------------------*/
.cmnInner01 {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	@media screen and (max-width: $sp) {
		padding-left: 18px;
		padding-right: 18px;
	}
}


/*============================================================================================================
	header
============================================================================================================*/
#header {
	width: 100%;
	min-width: 1200px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 9999;
	.inner {
		height: 95px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
		justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
		align-items: center;
	}
	.headerCv {
		height: 65px;
		width: 577px;
		display: flex;
		justify-content: space-between;
		.btnTel {
			width: 388px;
			color: #fff;
			display: block;
			padding: 0 17px 0 14px;
			background: $blue;
			border-radius: 6px;
			overflow: hidden;
			@media screen and (min-width: $pc_min) {
				pointer-events: none;
			}
			.txt {
				float: left;
				font-size: 13px;
				margin: 17px auto 0 0;
			}
			img {
				float: right;
				margin: 11px auto 4px 0;
			}
			.time {
				float: right;
				font-size: 13px;
				font-weight: normal;
				margin: 0 7px 0 auto;
			}
		}
		.btnMail {
			width: 180px;
			color: $blue;
			font-weight: normal;
			font-size: 16px;
			padding: 0 0 0 36px;
			border: 1px solid $blue;
			border-radius: 6px;
			background: url("../img/ico/ico_mail01.svg") no-repeat 22px center;
			background-size: 27px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
			justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
			align-items: center;
			@media screen and (min-width: $pc_min) {
				&:hover {
					opacity: 1;
					color: #fff;
					background-color: $blue;
					background-image: url("../img/ico/ico_mail02.svg");
				}
			}
		}
	}
	@media screen and (max-width: $sp) {
		min-width: 100%;
		.inner {
			height: 58px;
			padding: 0 12px;
		}
		.headerTtl {
			width: 122px;
			margin: 0 8px 0 0;
				-webkit-flex-shrink: 0;
			flex-shrink: 0;
			img {
				vertical-align: 0;
			}
		}
		.headerCv {
			width: 100%;
			max-width: 221px;
			height: auto;
			display: block;
			.btnTel {
				width: 100%;
				height: 40px;
				padding: 0 5px;
				background: $red;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
				justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
				align-items: center;
				img {
					float: none;
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}


/*============================================================================================================
	footer
============================================================================================================*/
#footer {
	padding: 80px 0 26px;
	border-bottom: 10px solid $blue;
	.logo {
		display: block;
		margin: 0 auto;
	}
	@media screen and (max-width: $sp) {
		padding: 50px 0 18px;
		.logo {
			width: 147px;
		}
	}
}


/*	TOPへ戻る	
------------------------------------------*/
#pagetop {
	width: 68px;
	height: 68px;
	z-index: 9990;
	right: 50px;
	bottom: 50px;
	position: fixed;
	display: none;
	a {
		display: block;
	}
	@media screen and (max-width: $sp) {
		width: 57px;
		height: 57px;
		right: 19px;
		bottom: 19px;
	}
}



/*============================================================================================================
	contents
============================================================================================================*/

#contents {
	padding: 95px 0 0;
	@media screen and (max-width: $sp) {
		padding: 58px 0 0;
	}
}


/*==========================================
	#mainVisual
==========================================*/
#mainVisual {
	position: relative;
	.tit {
		width: 88%;
		position: absolute;
		left: 0;
		right: 0;
		top: 14%;
		margin: auto;
		z-index: 2;
		display: inherit;
		img {
			width: 68%;
		}
	}
	.txt {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: auto;
		z-index: 2;
		img {
			width: 62.5%;
		}
	}
	.bgBox {
		img {
			width: 100%;
		}
	}
	@media screen and (min-width: $pc_min) and (max-width: 1366px) {
		.bgBox {
			height: 625px;
			position: relative;
			overflow: hidden;
			img {
				max-width: none;
				width: 1366px !important;
				position: relative;
				left: 50%;
				margin-left: -683px;
			}
		}
		.tit {
			width: 100%;
			max-width: 1200px;
			top: 87px;
			img {
				width: auto;
			}
		}
		.txt {
			img {
				width: auto;
			}
		}
	}
	@media screen and (max-width: $sp) {
		margin: 0 auto 12px;
		.img_sp {
			width: 100%;
		}
	}
}


/*==========================================
	main
==========================================*/
/*------------------------------------------
	#worry
------------------------------------------*/
#worry {
	padding: 62px 0 0;
	background: #C2D9E5;
	overflow: hidden;
	.leadBox {
		color: #fff;
		margin: 0 auto -8px;
		background: $red;
		position: relative;
		z-index: 2;
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 33px 27px 0 27px;
			border-color: $red transparent transparent transparent;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin: auto;
		}
		.inner {
			height: 107px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.txt01 {
			width: 33%;
			font-size: 25px;
			text-align: right;
		}
		.txt02 {
			width: 66%;
			font-size: 60px;
			letter-spacing: -3px;
		}
	}
	.txtBox {
		height: 662px;
		overflow: hidden;
		@media screen and (min-width: 1920px) {
			position: relative;
			&:before, &:after {
				content: "";
				display: block;
				width: calc(50% - 900px);
				height: 8px;
				background: #000;
				position: absolute;
				bottom: 42px;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
		.img {
			max-width: none;
			left: 50%;
			margin-left: -965px;
			position: relative;
		}
	}
	.resolution {
		margin: -50px auto 0;
		background: $blue;
		.inner {
			height: 142px;
			display: flex;
			align-items: center;
			position: relative;
		}
		.txt {
			color: #fff;
			font-size: 40px;
			margin: 13px auto 0 53px;
		}
		.img {
			position: absolute;
			top: -103px;
			right: -7px;
		}
	}
	.logo {
		padding: 24px 0 26px;
		text-align: center;
		background: #fff;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 36px 30px 0 30px;
			border-color: $blue transparent transparent transparent;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 80%;
			margin: auto;
		}
	}
	@media screen and (max-width: $sp) {
		padding: 0;
		.leadBox {
			height: 92px;
			margin: 0 auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
			justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
			align-items: center;
			&:before {
				border-width: 13px 12px 0 12px;
			}
			.inner {
				height: auto;
				display: block;
			}
			.txt01 {
				width: auto;
				text-align: center;
				font-size: 4.2vw;
				margin: 0 auto 2vw;
				@media screen and (min-width: 390px) and (max-width: $sp) {
					font-size: 16px;
					margin: 0 auto 2px;
				}
			}
			.txt02 {
				width: auto;
				text-align: center;
				font-size: 8.4vw;
				letter-spacing: -2px;
				@media screen and (min-width: 390px) and (max-width: $sp) {
					font-size: 33px;
				}
			}
		}
		.txtBox {
			height: auto;
			.img {
				max-width: 100%;
				margin: 0 auto;
				left: auto;
			}
		}
		.resolution {
			margin: -5.4% auto 0;
			position: relative;
			z-index: 2;
			.inner {
				height: 125px;
				display: block;
				padding-top: 75px;
			}
			.txt {
				font-size: 6vw;
				margin: 0 auto;
				text-align: center;
				@media screen and (min-width: 390px) and (max-width: $sp) {
					font-size: 24px;
				}
			}
			.img {
				top: -71px;
				left: 0;
				right: 0;
				margin: auto;
				width: 232px;
			}
		}
		.logo {
			padding: 12px 12px 14px;
			&:before {
				bottom: calc(100% - 17px);
				border-width: 17px 12px 0 12px;
			}
		}
	}
}


/*------------------------------------------
	#system
------------------------------------------*/
#system {
	margin: 0 auto 102px;
	.box01 {
		margin: 0 auto 49px;
		position: relative;
		.img {
			width: 100%;
		}
		.inner {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: flex;
			align-items: center;
			height: 100%;
			z-index: 2;
		}
		.txtBoxWrap {
			width: 100%;
			margin: -7% auto 0 0;
		}
		.lead {
			color: #fff;
			font-size: 35px;
			width: 64%;
			letter-spacing: -2px;
			line-height: 1.6;
			margin: 0 0 39px auto;
			text-shadow: 2px 2px 0 #000;
		}
		.list {
			width: 57.5%;
			display: flex;
			margin: 0 0 0 auto;
			.item {
				color: #000;
				width: 243px;
				height: 243px;
				font-size: 24px;
				text-align: center;
				line-height: 1.4;
				background: #FFF435;
				border-radius: 50%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
				justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
				align-items: center;
				& + .item {
					margin-left: 28px;
				}
				span {
					display: block;
					color: $red;
					font-size: 40px;
					margin: 4px auto 0;
				}
			}
		}
	}
	.box02 {
		.list {
			display: flex;
			justify-content: space-between;
			.item {
				width: 31%;
				padding: 31px 10px 38px;
				background: $blue;
				.ico {
					height: 100px;
					text-align: center;
					margin: 0 auto 13px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
					justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
					align-items: center;
				}
				.txt {
					color: #fff;
					text-align: center;
					font-size: 21px;
					line-height: 1.6;
				}
			}
		}
	}
	@media screen and (min-width: $pc_min) and (max-width: 1366px) {
		.box01 {
			height: 620px;
			position: relative;
			overflow: hidden;
			.img {
				height: 100%;
				width: auto;
				max-width: none;
				position: relative;
				left: 50%;
				margin-left: -687px;
			}
		}
	}
	@media screen and (max-width: $sp) {
		margin-bottom: 28px;
		.box01 {
			margin-bottom: 14px;
			.txtBoxWrap {
				margin: -4vw auto 0;
			}
			.lead {
				width: auto;
				font-size: 4.8vw;
				text-align: center;
				line-height: 7.4vw;
				margin: 0 auto 2vw;
			}
			.list {
				width: auto;
				display: block;
				margin: 0 2vw 0 auto;
				.item {
					width: 31vw;
					height: 31vw;
					font-size: 3.5vw;
					margin: 0 0 0 auto !important;
					& + .item {
						margin-top: 2vw !important;
					}
					span {
						font-size: 5.5vw;
						margin: .8vw auto 0;
					}
				}
			}
		}
		.box02 {
			.list {
				display: block;
				.item {
					width: 100%;
					height: 23.5vw;
					padding: 9px 0 9px 13px;
					margin: 0 auto 16px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
					align-items: center;
					.ico {
						width: 20%;
						height: 13vw;
						margin: 0 10px 0 0;
						img {
							height: 100%;
						}
					}
					.txt {
						text-align: left;
						font-size: 4.1vw;
						line-height: 6.2vw;
					}
				}
			}
		}
	}
}


/*------------------------------------------
	.cv
------------------------------------------*/
.cv {
	padding: 24px 0 26px;
	background: $red;
	.lead {
		color: #fff;
		text-align: center;
		font-size: 25px;
		margin: 0 auto 16px;
	}
	.btnTel {
		color: #fff;
		width: 53%;
		float: left;
		display: block;
		@media screen and (min-width: $pc_min) {
			pointer-events: none;
		}
		img {
			width: 98%;
			margin: 0 auto 8px;
		}
		.time {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 0 67px;
		}
	}
	.btnMail {
		width: 45%;
		height: 83px;
		color: #fff;
		float: right;
		font-size: 24px;
		padding: 2px 0 0 75px;
		border: 4px solid #fff;
		border-radius: 10px;
		background: url("../img/ico/ico_mail02.svg") no-repeat 22px center;
		background-size: 47px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
		justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
		align-items: center;
	}
	@media screen and (max-width: $sp) {
		padding: 20px 0 26px;
		.lead {
			font-size: 3vw;
			margin-bottom: 14px;
			@media screen and (min-width: 390px) and (max-width: $sp) {
				font-size: 12px;
			}
		}
		.btnTel {
			width: 100%;
			max-width: 340px;
			float: none;
			margin: 0 auto 14px;
			img {
				width: 100%;
				margin-bottom: 10px;
			}
			.time {
				font-size: 4vw;
				margin-left: 11vw;
				@media screen and (min-width: 390px) and (max-width: $sp) {
					font-size: 15px;
					margin-left: 41px;
				}
			}
		}
		.btnMail {
			width: 100%;
			max-width: 340px;
			float: none;
			font-size: 4.3vw;
			height: 62px;
			padding: 1px 0 0 17vw;
			margin: 0 auto;
			background-size: 35px;
			border-width: 2px;
			background-position: 18px center;
			@media screen and (min-width: 390px) and (max-width: $sp) {
				font-size: 18px;
				padding: 1px 0 0 58px;
			}
		}
	}
}


/*------------------------------------------
	#voice
------------------------------------------*/
#voice {
	padding: 52px 0 58px;
	background: url("../img/bg/bg_voice.png") no-repeat center;
	background-size: cover;
	.logo {
		display: block;
		margin: 0 auto 33px;
	}
	.secTit {
		color: $blue;
		text-align: center;
		font-weight: bold;
		font-size: 44px;
		margin: 0 auto 22px;
	}
	.list {
		.item {
			width: 63%;
			padding: 29px 43px 25px;
			background: #fff;
			border-radius: 10px;
			margin-bottom: 20px;
			&:nth-of-type(even) {
				margin-left: auto;
			}
		}
	}
	@media screen and (max-width: $sp) {
		padding: 17px 0 47px;
		.logo {
			margin-bottom: 17px;
		}
		.secTit {
			font-size: 25px;
			margin-bottom: 15px;
		}
		.list {
			width: calc(100% - 30px);
			margin: 0 auto;
			.item {
				width: 100%;
				font-size: 15px;
				font-size: 3.9vw;
				padding: 12px 13px 14px;
				border-radius: 6px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}


/*------------------------------------------
	#demo
------------------------------------------*/
#demo {
	.leadBox {
		background: $red;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 36px 30px 0 30px;
			border-color: $red transparent transparent transparent;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin: auto;
		}
		.inner {
			height: 142px;
			display: flex;
			align-items: center;
			position: relative;
		}
		.txt {
			color: #fff;
			font-size: 40px;
			margin: 0 auto 0 76px;
		}
		.img {
			position: absolute;
			top: -103px;
			right: -7px;
		}
	}
	.txtBox {
		height: 382px;
		background: url("../img/bg/bg_demo_pc.png") no-repeat center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
		align-items: center;
		@media screen and (min-width: 1921px) {
			background-size: cover;
		}
		.txt {
			font-size: 32px;
			line-height: 1.45;
		}
	}
	@media screen and (max-width: $sp) {
		.leadBox {
			&:before {
				border-width: 13px 12px 0 12px;
			}
			.inner {
				height: 174px;
				display: block;
				padding-top: 123px;
			}
			.txt {
				font-size: 6vw;
				margin: 0 auto;
				text-align: center;
				@media screen and (min-width: 390px) and (max-width: $sp) {
					font-size: 24px;
				}
			}
			.img {
				top: -23px;
				left: 0;
				right: 0;
				margin: auto;
				width: 232px;
			}
		}
		.txtBox {
			height: 154px;
			height: 39.7vw;
			background-image: url("../img/bg/bg_demo_sp.png");
			background-size: cover;
			.txt {
				font-size: 15px;
				font-size: 3.9vw;
			}
		}
	}
}
